@{
    Layout = "";
}
@model OneItemComboBoxVMExternal
<div class="input-group">
    <select class="form-select combobox-ontime-loader" selected-value="@Model.SelecterId"
            aria-label="Example select with button addon" asp-for=AspForValue>
    </select>
    <button class='btn btn-outline-secondary one-item-data-request'
            extend-button-purpose="@Model.ExtendButtonPurpose"
            data-bs-target="#exampleModal"
            data-bs-toggle="modal" type="button">
        <img src='/more-deteils.png'
             style="width: 21px;">
    </button>
</div>
