@{
    Layout = "";
}
@model OneItemComboBoxVMInner
<option disabled="" selected value="">Выберите...</option>
@foreach (var item in Model.OptionsList)
{

    if (item.Id == Model.SelectedId && item.Id != 0)
    {
        <option selected value="@item.Id">@item.Value</option>
    }

    else
    {
        <option value="@item.Id">@item.Value</option>
    }
}
