@model ModalWindowVM
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body" purposeMenu="" attachedSelector="">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary temp" id="submitChoise" data-bs-dismiss="modal">Выбрать</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('document').ready(function () {
        $('.one-item-data-request').click(function (e) {
            $("#modal-body").attr('purposeMenu', $(this).attr('extend-button-purpose'))
                .attr('attachedSelector', $(this).siblings('select').attr('Id'))
            updateModalWindow()
        })
        updateComboBoxes()
    }
    )
    function updateModalWindow() {            
        let options = {
            oneItemTypeName: $("#modal-body").attr('purposeMenu'),
            CurrentPage: $("#modal-body").find('#current-Page').val(),
            PageSize: $("#modal-body").find('select[name=PageSize]').val(),
            SearchСolumn: $("#modal-body").find('select[name=SearchСolumn]').val(),
            SearchValue: $("#modal-body").find('input[name=SearchValue]').val()
        }
        $("#modal-body").load('@Url.RouteUrl(new { controller = nameof(OneItemDataController).Replace("Controller", ""),
                         action = nameof(OneItemDataController.ShowOneItemData)
                     })', options, function () { 
            onModalDataLoaded()
        })
    }

    function updateComboBoxes() {
        $('.combobox-ontime-loader').each(function () {
            let purposeItem = { oneItemName: $(this).next('button').attr('extend-button-purpose'), selectedId: $(this).attr('selected-value') }
            $(this).not('.loaded').each(function () {
                let elem = this
                let selectedId= $(this).attr('selected-value')
                $.getJSON('@Url.RouteUrl(new { controller = nameof(OneItemDataController).Replace("Controller", ""),
                         action = nameof(OneItemDataController.ShowOneItems)
                     })', purposeItem, function (data) {
                    $(elem).addClass('loaded')
                    $(elem).addClass('updated')
                    $('<option disabled="" selected value="">Выберите...</option>').appendTo(elem)
                    $.each(data, function (key, val) {
                        $('<option></option>').attr('value', val.id).appendTo(elem).text(val.value)
                    })                 
                })
            })
            $(this).not('.updated').each(function () {
                $(this).find('[selected]').removeAttr('selected')
                selectedId = $(this).attr('selected-value')
                let elem = this
                $(elem).find("option[value='" + selectedId + "']").prop('selected', true);
                $(elem).addClass('updated')
            })
        })
    }

    function onModalDataLoaded() {
        $('#exampleModal').find('#button-addon2').add('button[type=submit]').click(function (e) {
            updateModalWindow()          
            e.preventDefault()
        })           
        $('#submitChoise').click(function (e) {
             let calledComboBox = $('#modal-body').attr('attachedSelector')
            $($(`#${calledComboBox}`)).attr('selected-value', $("input[type='radio']:checked")
                .val()).removeClass('updated')
            updateComboBoxes()
            $('#submitChoise').unbind()           
        })
    }
</script>